# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [5]:
cars1 = pd.read_csv('cars1.csv')
cars2 = pd.read_csv('cars2.csv')
cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick,NaN,NaN,NaN,NaN,NaN
194,22.5,6,232,90,3085,17.6,76,1,amc hornet,NaN,NaN,NaN,NaN,NaN
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,NaN,NaN,NaN,NaN,NaN
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody,NaN,NaN,NaN,NaN,NaN
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit,NaN,NaN,NaN,NaN,NaN

In [6]:
cars2

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [8]:
cars1 = cars1.dropna(axis=1)
cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

### Step 5. What is the number of observations in each dataset?

In [12]:
cars1.shape, cars2.shape

((198, 9), (200, 9))

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [19]:
cars = pd.concat([cars1, cars2])
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [21]:
import numpy as np 
owner = np.random.randint(15000, high=73000, size=398)
owner

array([67079, 44458, 63648, 33883, 23559, 62090, 27066, 26670, 31036,
       22556, 19802, 67612, 72166, 52624, 29234, 18247, 43913, 29356,
       33037, 63615, 54206, 61693, 17322, 22402, 18257, 22675, 59972,
       24093, 57710, 15961, 28920, 32865, 39857, 16988, 16459, 52591,
       44889, 41403, 29460, 17117, 40737, 66464, 16400, 39242, 34610,
       65890, 31684, 26034, 15490, 62075, 37825, 59260, 57850, 25530,
       18528, 37351, 57635, 72148, 62040, 15188, 46553, 15562, 70692,
       25363, 64710, 33040, 32322, 57319, 60227, 55875, 66648, 65279,
       23346, 24637, 26124, 21255, 20270, 26189, 18750, 48055, 59005,
       30990, 49623, 64200, 56450, 57100, 21019, 46308, 70314, 40312,
       55994, 69837, 48309, 55265, 48999, 22292, 25559, 57657, 35780,
       67255, 50670, 49593, 36999, 72368, 28651, 35839, 69685, 37984,
       63030, 21224, 72670, 29187, 23378, 45980, 36436, 43837, 57125,
       52901, 44692, 28115, 66284, 44258, 27561, 17108, 72520, 44944,
       31550, 38516, 39633, 16304, 32781, 66273, 22805, 20855, 16730,
       42209, 45854, 69381, 18766, 32701, 66816, 65346, 24929, 72495,
       51352, 41629, 64219, 58231, 40032, 57710, 46230, 45785, 47811,
       37582, 40038, 31833, 38961, 28571, 26013, 36686, 38228, 34753,
       24845, 15143, 56716, 68742, 52006, 69754, 49805, 26714, 24009,
       23687, 63527, 20993, 46420, 34990, 27152, 61818, 40217, 52745,
       39283, 61512, 69434, 63327, 61759, 47349, 24327, 56591, 56985,
       25142, 58033, 34132, 38353, 60910, 21871, 55900, 49148, 20584,
       66707, 71871, 18251, 46106, 26360, 29643, 37837, 20480, 15940,
       33454, 16944, 45155, 46649, 41492, 72028, 37472, 30145, 25395,
       56430, 29756, 40548, 60907, 36330, 67946, 28304, 22264, 19334,
       60154, 65006, 48709, 18803, 16335, 37452, 59612, 28523, 37549,
       49974, 25814, 62163, 72057, 29522, 21532, 48828, 42303, 69306,
       31336, 52536, 22745, 20207, 69689, 46606, 51844, 30202, 30143,
       51221, 65414, 52018, 67462, 53641, 37741, 58465, 17124, 70731,
       31377, 39913, 53887, 20020, 38941, 29831, 34986, 23012, 33173,
       63004, 23557, 62351, 33496, 52184, 65035, 24281, 30586, 31256,
       66965, 27846, 23749, 42582, 22321, 20438, 43927, 63773, 28532,
       59711, 57684, 40451, 53190, 24971, 19045, 24738, 15245, 72590,
       70790, 30858, 44885, 65170, 71084, 59750, 55268, 34253, 68209,
       67504, 24078, 64511, 29898, 42213, 39349, 52375, 58299, 63180,
       61007, 50354, 65683, 64405, 66103, 26711, 25519, 35203, 28766,
       59712, 27948, 48450, 53280, 24046, 25735, 60326, 57609, 72019,
       51879, 65196, 27895, 17920, 28297, 46822, 38258, 37283, 56435,
       19510, 53496, 67403, 69234, 40189, 71752, 25034, 68076, 36540,
       47383, 63693, 41357, 36699, 70903, 20642, 37915, 28218, 71714,
       51335, 42189, 58526, 62490, 70232, 23538, 43945, 21684, 28156,
       33210, 18996, 15532, 16427, 43591, 60091, 56535, 51697, 65513,
       60160, 18396, 17944, 54986, 15100, 57925, 28120, 49899, 68019,
       45481, 48532, 60883, 30658, 21736, 50665, 59315, 18447, 51710,
       38967, 20364])

### Step 8. Add the column owners to cars

In [22]:
cars['owners'] = owner
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,67079
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,44458
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,63648
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,33883
4,17.0,8,302,140,3449,10.5,70,1,ford torino,23559
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,59315
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,18447
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,51710
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,38967
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,20364